<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{http_host} ^zycfcw.com [NC]
RewriteRule ^(.*)$ http://www.zycfcw.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f	
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]   
</IfModule>
