@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
img{ border:0;}
.clearfix{ clear:both; content:"";}
.blank{ clear:both; height:50px;}
body{ font-family:宋体; font-size:14px; line-height:1.5em; width:980px; margin:0 auto; 
-moz-box-shadow:-8px 0px 8px #dddedb, 8px 0px 8px #dddedb;
-webkit-box-shadow:-8px 0px 8px #dddedb, 8px 0px 8px #dddedb;
box-shadow:-8px 0px 8px #dddedb, 8px 0px 8px #dddedb;
}

.indextitle{ float:left; width:980px; background:url(../images/icon5.png) 0 0 repeat-x; height:83px; position:relative;}
.indextitle span.title-icon{ width:449px; height:116px; background:url(../images/66xaq-title.png) 0 0 no-repeat; display:block; top:-32px; z-index:5; position:absolute;}
.indextitle span.wxfw-title-icon{ width:449px; height:116px; background:url(../images/wxfw-title.png) 0 0 no-repeat; display:block; top:-32px; z-index:5; position:absolute;}
.mainbox{width:876px; padding:0 52px 80px 52px; background-color:#f8f9fb;}
.anquan h2,.tixi h2,.service h2 ,.biaozhun  h2 { display:block; overflow:hidden; background:url(../images/icon3.png) 0 0 repeat-x;}
.anquan h2 strong,.tixi h2 strong,.service h2 strong,.biaozhun  h2 strong{ float:left;  display:inline-block; background:url(../images/icon2.png) no-repeat ;  height:25px; line-height:24px; padding-left:12px; font-weight:500; color:#fff; font-size:18px;}
.anquan h2 strong{ background-position:-150px 0; width:120px;}
.anquan h2 span,.tixi h2 span,.service h2 span,.biaozhun  h2 span{float:right; display:block;  height:25px; margin-left:8px; background:url(../images/icon3.png) 0 0 repeat-x;} 
.anquan h2 span{width:736px;}
.anquan h3{ font-size:16px; line-height:16px; padding:28px 0 28px 50px; }
.anquan p,.tixi p{ padding:0 50px; text-indent:2em; line-height:25px;text-align:justify;}

.tixi h2 strong{ background-position:0 0; width:270px;}
.tixi h2 span{ width:586px;}
.tixi p { padding-top:35px; }
.tixi p img{ float:right; margin:0 13px 0 50px;}

.case dl dt{ background:url(../images/icon3.png) 0 0 repeat-x; margin-top:17px;}
.case dl dt strong{ width:200px; display:block; background:#f8f9fb;}
.case dl dd{ text-align:justify; padding:17px 0; overflow:hidden; padding-right:50px;}
.case dl dd img{ margin-right:40px; float:left;}
.case dl dd span{ display:block; line-height:27px; text-align:justify; text-indent:2em;}
.case dl dd span a{ color:#000; text-decoration:none;}
.case dl dd span a:hover{ color:#F30; text-decoration:underline;}

.line{ margin-top:13px; width:100%; height:25px; background:url(../images/icon3.png) 0 0  repeat-x; padding-bottom:50px;}


.service h2 strong{ width:228px; background-position:-42px 0;}
.service h2 span{ width:618px;}
.service p { padding:60px 50px 30px 50px; text-align:justify; line-height:25px; font-size:16px;}

.biaozhun { width:100%}
.biaozhun  h2 strong{ width:165px; background-position:-117px 0;}
.biaozhun .bzbox{ background:#6eb92c; margin:60px 113px 50px 113px; overflow:hidden; display:block;
-moz-box-shadow:-4px 0px 3px #DCDDE0, 4px 3px 3px #B7B9BC; -webkit-box-shadow:-4px 0px 3px #DCDDE0, 4px 3px 3px #B7B9BC; box-shadow:-4px 0px 3px #DCDDE0, 4px 3px 3px #B7B9BC;
}
.biaozhun .bzbox img{ float:left;}
.biaozhun .bzbox dl{ padding:20px 40px; float:right;}
.biaozhun .bzbox dl dd{ text-align:center; font-size:17px; color:#fff; line-height:35px;}
.biaozhun .bzbox dl dd strong{ font-size:22px; color:#e5e517;}

.wxfw-details dl dt{ background:url(../images/icon4.png) 0 center repeat-x;} 
.wxfw-details dl dt strong { display:inline-block; line-height:30px; width:; background:url(../images/title-icon.png) left center no-repeat,#f8f9fb; height:30px; padding-left:45px; padding-right:25px;}
.wxfw-details dl dd{ padding:16px 50px 16px 30px; text-align:justify; line-height:25px; text-indent:2em;}

